.cfg.git
.cfg.git
.rustup/
.mozilla/
.ssh/
.config/vim/plugged
.config/BraveSoftware/
.cargo/
.cache/
.local/share/fish/fish_history
.local/share/gvfs-metadata/home
.local/share/gvfs-metadata/home-bdfcf420.log
.local/share/gvfs-metadata/root
.local/share/gvfs-metadata/root-9d94dcb5.log
.local/share/keyrings/login.keyring
.local/share/keyrings/user.keystore
.local/share/lesshst
.local/share/nwg-look/gsettings
.local/share/recently-used.xbel
.local/share/sddm/wayland-session.log
.local/share/sddm/xorg-session.log
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/state/yazi/.dds
.pki/nssdb/cert9.db
.pki/nssdb/key4.db
.pki/nssdb/pkcs11.txt
.profile
.viminfo
.xsession-errors
