.cfg.git
.cfg.git
.rustup/
.mozilla/
.ssh/
.config/vim/plugged
.config/BraveSoftware/
.cargo/
.cache/
.local/share/fish/fish_history
.local/share/gvfs-metadata/home
.local/share/gvfs-metadata/home-bdfcf420.log
.local/share/gvfs-metadata/root
.local/share/gvfs-metadata/root-9d94dcb5.log
.local/share/keyrings/login.keyring
.local/share/keyrings/user.keystore
.local/share/lesshst
.local/share/nwg-look/gsettings
.local/share/recently-used.xbel
.local/share/sddm/wayland-session.log
.local/share/sddm/xorg-session.log
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.config/lxqt/
.local/share/keyrings/
.local/share/kwalletd/
.pki/nssdb/cert9.db
.pki/nssdb/key4.db
.pki/nssdb/pkcs11.txt
.profile
.viminfo
.xsession-errors
.bash_history
.bash_logout
.config/featherpad/
.config/hyprland-mimeapps.list
.config/mimeapps.list
.config/pulse/
.config/qterminal.org/
.config/xsettingsd/
.config/yazi/keymap.toml-1751577618741805
.config/yazi/theme.toml-1751577618757923
.config/yazi/yazi.toml-1751577618735931
.face
.face.icon
.gtkrc-2.0
.lesshst
.local/share/Trash/
.config/font-manager/Sources.xml
.config/fontconfig/conf.d/09-Directories.conf
.config/systemd/user/default.target.wants/pipewire.service
.config/systemd/user/pipewire.service.wants/wireplumber.service
.config/systemd/user/sockets.target.wants/pipewire.socket
.local/share/gvfs-metadata/home-471e0909.log
".local/share/keyrings/V\303\275choz\303\255_kl\303\255\304\215enka.keyring"
.local/share/keyrings/default
.sudo_as_admin_successful
.local/share/gvfs-metadata/
.local/state/wireplumber/
.emacs
.gnupg/
.inputrc
.local/share/hyprland/
.local/state/btop.log
.config/geany/session.conf
Temp/
.local/state/lesshst
.viminfo.tmp
.viminfz.tmp
Public/
