 configuration {
                drun {
                  display-name: "Aplikace";}
                window {
                  display-name: "Okna";}
                run  {
                  display-name: "Spustitelné";}
                ssh {
                  display-name: "Ssh klient";}
                timeout {
                    delay:  20;
                    action: "kb-cancel";}
 }
 @theme "/home/libor/.config/rofi/rofithemes/purple.rasi"
