* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 9px;
    border-color: black;
    color: #BFBFBF;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20%;
    font-size: 14px;
    padding: 27px;
}

button:focus, button:active, button:hover {
    background-color: #3700B3;
    outline-style: none;
}


#browser {
    background-image: image(url("/home/libor/.dotfiles/icons/brave.png"));
}

#text {
    background-image: image(url("/home/libor/.dotfiles/icons/notes.png"));
}

#office {
    background-image: image(url("/home/libor/.dotfiles/icons/libreoffice.png"));
}

#kalk {
    background-image: image(url("//home/libor/.dotfiles/icons/kalk.png"));
}

#skener {
    background-image: image(url("//home/libor/.dotfiles/icons/skener.png"));
}

#fm {
    background-image: image(url("//home/libor/.dotfiles/icons/fm.png"));
}

#term {
    background-image: image(url("//home/libor/.dotfiles/icons/term.png"));
}

#vim {
    background-image: image(url("//home/libor/.dotfiles/icons/vim.png"));
}

#yazi {
    background-image: image(url("//home/libor/.dotfiles/icons/yazi.png"));
}

#lock {
    background-image: image(url("//home/libor/.dotfiles/icons/lock.png"));

}#logout {
    background-image: image(url("//home/libor/.dotfiles/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/home/libor/.dotfiles/icons/power.png"));
}

#reboot {
    background-image: image(url("//home/libor/.dotfiles/icons/reboot.png"));
}
